html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

// Undo pointer-events override from open dropdown menus
body {
  pointer-events: initial !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #dadada;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #424242;
}

// Hide scrollbars in uTools mode
.is-utools {
  ::-webkit-scrollbar {
    display: none;
  }

  * {
    scrollbar-width: none;
  }

  * {
    -ms-overflow-style: none;
  }
}
