.vscode/**
.vscode-test/**
out/**
node_modules/**
runtime/package.json
runtime/package-lock.json
src/**
scripts/**
.gitignore
.yarnrc
webpack.config.js
webpack.config.mjs
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.npmrc